* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100vw;
  max-width: 1200px;

  margin: 0 auto;

  background-color: rgb(28, 28, 28);

  color: rgb(238, 238, 238);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  width: 100%;
  height: 10vh;
}

.header__nav {
  margin-right: 5%;
}

.header__socials-btn,
.header__menu-btn {
  height: 50px;
  width: 50px;
  line-height: 50px;

  margin: 0 10px;
  border: none;

  background-color: transparent;
  border-radius: 10%;
  font-size: 18px;
  color: rgb(180, 180, 180);

  cursor: pointer;
  transition: 0.3s;
}

.header__menu-btn:hover {
  background-color: rgba(80, 80, 80, 0.7);
  color: rgb(255, 255, 255);
}
.header__socials-btn:hover {
  color: rgb(238, 238, 238);
}

.main__logo {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  padding-bottom: 5%;
}

.main__logo-image {
  padding: 0 20vw;
}

.main__searcher {
  width: 90vw;
  height: 5vh;
  max-width: 800px;

  padding: 30px;
  margin: 40px 0;
  border: none;
  border-radius: 5px 0 0 5px;

  background-color: rgba(150, 150, 150, 0.7);
  outline: none;
  font-size: 24px;
  color: rgb(238, 238, 238);
}

.main__searcher::placeholder {
  color: rgb(28, 28, 28);
}

.main__searcher::-webkit-search-cancel-button {
  height: 20px;

  -webkit-appearance: none;
  content: url("assets/clearButton.png");

  cursor: pointer;
}

.main__searcher-magnifier {
  width: 5vh;
  height: 5vh;

  margin: 40px 0;
  padding: 30px;
  border: none;
  border-radius: 0 5px 5px 0;

  background-color: rgb(180, 180, 180);
}

.main__searcher-magnifier-image {
  width: 5vh;

  transform: translate(-50%, -50%) scale(0.8);

  cursor: pointer;
}

.main__title {
  width: 100%;

  margin: 10px 0;

  font-size: 38px;
  font-weight: 400;
  text-align: center;
  line-height: 60px;
}

.main__paragraph {
  width: 100%;
  text-align: center;
  margin-bottom: 15px;
}

.main__feature {
  display: inline-block;
  width: 33%;

  text-align: center;
  font-size: 18px;
}

.main__feature::before {
  display: inline-block;
  width: 18px;
  height: 18px;
  content: "";

  margin-right: 10px;

  background: center / contain no-repeat url("/assets/checked.png");
}

.main__extension-btn {
  width: 320px;
  height: 55px;

  margin-top: 30px;
  border: none;

  border-radius: 10px;
  background-color: rgb(103, 143, 255);
  color: rgb(238, 238, 238);
  font-size: 18px;
  font-weight: 600;

  cursor: pointer;
}

.main__rating {
  width: 100%;

  margin-top: 20px;

  text-align: center;
  font-size: 16px;
}

.main__rating::before {
  display: inline-block;
  width: 70px;
  height: 16px;
  content: "";

  margin-top: 20px;
  margin-right: 10px;

  background: no-repeat center/cover url("/assets/ratingStars.png") gray;
}

.main__features {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.main__features-card {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 35vw;

  border-radius: 20px;
  background-color: rgba(40, 40, 40, 0.7);
}

.main__features-image {
  width: 40%;

  margin: 30px 0;
}

.main__features-title {
  text-align: center;
  font-size: 20px;
}

.main__features-paragraph {
  margin: 25px 20px;

  text-align: center;
  line-height: 25px;
}

.main__features-link {
  color: rgb(103, 143, 255);
  text-decoration: none;
}

.footer {
  display: flex;
  flex-direction: column;
  width: 100%;

  border-radius: 50px 50px 0 0;
  background-color: rgb(88, 183, 146);

  text-align: center;
}

.footer__title {
  margin: 10% 10% 5%;
  font-size: 44px;
  color: rgb(255, 255, 255);
}

.footer__subtitle {
  margin: 0 10% 5%;

  line-height: 30px;
  font-weight: 300;
  font-size: 20px;
  color: rgb(255, 255, 255);
}

.footer__install-btn {
  width: 280px;
  height: 55px;

  margin: 0 auto;
  border: none;
  border-radius: 10px;
  background-color: rgba(70, 70, 70, 0.7);
  color: rgb(255, 255, 255);
  font-size: 22px;
  cursor: pointer;
}

.footer__install-btn:hover {
  background-color: rgba(60, 60, 60, 0.8);
}

@media (max-width: 360px) and (orientation: portrait) {
  .main__logo-image {
    height: 160px;
  }
  .main__searcher {
    width: 250px;
  }
  .main__searcher-magnifier {
    background-color: rgb(88, 183, 146);
  }
  .main__title {
    font-size: 28px;
    line-height: 40px;
  }
  .main__paragraph {
    font-size: 14px;
  }
  .main__feature {
    width: 100%;
    text-align: left;
    font-size: 14px;
    margin: 10px 20px;
  }
  .main__feature::before {
    height: 14px;
  }
  .main__extension-btn {
    width: 240px;
    height: 40px;
    font-size: 14px;
  }
  .main__rating {
    font-size: 12px;
  }
  .main__rating::before {
    height: 12px;
  }
  .main__features-card {
    width: 80vw;
  }
  .footer {
    margin-top: 80px;
  }
  .footer__title {
    margin: 30% 10% 5%;
    font-size: 22px;
  }
  .footer__subtitle {
    font-size: 16px;
    line-height: 20px;
  }
  .footer__install-btn {
    width: 200px;
    height: 40px;
    font-size: 16px;
  }
  .footer__image {
    margin-top: 100px;
  }
}
